.product {
	float: left;
	width: 765px;
	height: 496px;
}

.product div {
	position: relative;
}

.product .images {
	float: left;
	width: 30%;
	background: yellow;
}

.product .info {
	float: left;
	width: 70%;
	box-sizing: border-box;
}

.show-sizetable {
	display: inline-block;
	color: #b76da2;
}

.category-name {
	margin-bottom: 10px;
}

div#product-list {
	float: left;
	width: 755px;
	padding: 0;
}

.sorting {
	list-style: none outside none;
	padding: 0;
	margin-top: 0;
}

.sorting li {
	float: left;
	font-size: 13px;
	margin-right: 8px;
}

.sorting li {
	color: #7d7d7d;
}

.sorting li a {
	color: black;
	text-decoration: none;
}

.sorting li a:hover,
.sorting li.selected a {
	color: #c180ae;
}

.goods_pagination {
	width: 100%;
	height: 30px;
	margin-top: 2px;
	background: #f7f8f8;
}

.goods_pagination .goods_count {
	float: left;
	margin-top: 7px;
	margin-left: 4px;
	font-size: 12px;
	color: #7f8083;
}

.goods_pagination .menu-h {
	list-style: none outside none;
	float: left;
	margin-top: 5px;
	margin-left: 15px;
}

.goods_pagination .menu-h li {
	float: left;
	box-sizing: border-box;
	padding: 0 3px;
	width: 20px;
	height: 20px;
	margin-right: 5px;
	padding-top: 3px;
	background: white;
	text-align: center;
	font-size: 12px;
	font-weight: bold;
}

.goods_pagination .menu-h li a {
	padding: 0;
	color: black;
	text-decoration: none;
}

.goods_pagination .menu-h li.selected {
	border: 1px solid #d5b6ca;
	padding-top: 2px;
	background: url('graphics/grad_pink5.png') repeat-x #dfbfd6;
	background: linear-gradient(#ead1d6, #d5aed7);
	color: white;
}

.goods_pagination .menu-h li.selected a {
	color: white;
}

.goods_pagination .goods-per-page {
	float: right;
	margin: 0;
	margin-top: 7px;
	list-style: none outside none;
}

.goods_pagination .goods-per-page li {
	float: left;
	margin-right: 5px;
	padding: 0;
	font-size: 12px;
	font-weight: bold;
	color: black;
}

.goods_pagination .goods-per-page li a {
	color: black;
	text-decoration: none;
}

.goods_pagination .goods-per-page li.selected a {
	color: #892990;
}

.goods_pagination .goods-per-page li:first-child {
	color: #7F8083;
	font-weight: normal;
}

ul.product-list {
	list-style: none outside none;
	margin-top: 30px;
	padding: 0;
}

ul.product-list li {
	float: left;
	min-width: 25%;
	margin-bottom: 50px;
	font-family: 'Arial';
	box-sizing: border-box;
}

ul.product-list li .image {
	height: 289px;
	text-align: center;
}

ul.product-list li .badge-wrapper {
}

ul.product-list li .image img {
	max-height: 285px;
}

.zoomWrapperImage img {
	max-width: none;
}

ul.product-list li .fullname {
	color: black;
	text-decoration: none;
	font-size: 12px;
	color: #231f20;
}

ul.product-list li a {
	text-decoration: none;
}

ul.product-list li .fullname .name {
	float: left;
	margin-right: 3px;
	font-weight: bold;
}

ul.product-list li .fullname .color {
	float: left;
}

ul.product-list li .price {
	font-size: 12px;
	font-weight: bold;
	color: #ba256d;
}

ul.product-list li .rating {
	height: 13px;
	margin-top: 20px;
}

ul.product-list li .rating .star {
	float: left;
	width: 13px;
	height: 13px;
	background: url('graphics/rate_off.png') center no-repeat;
}

ul.product-list li .rating .star.shine {
	background: url('graphics/rate_on.png') center no-repeat;
}

[class^="filter-"] {
	display: none; /* Пока он не будут функциональны */
	width: 190px;
	margin-top: 10px;
	margin-left: 7px;
	padding: 7px 10px 5px 8px;
	box-sizing: border-box;
	background: #f7f8f8;
}

[class^="filter-"] h4.ui-accordion-header {
	margin: 0;
	padding-left: 2px;
	font-size: 14px;
	color: #712e78;
	border-width: 0;
	background: transparent;
}

[class^="filter-"] h4 span.ui-icon.ui-accordion-header-icon {
	left: auto;
	right: 0.5em;
	background: url('graphics/filter_closed.png') no-repeat center;
}

[class^="filter-"] h4.ui-state-active span.ui-icon.ui-accordion-header-icon {
	background: url('graphics/filter_open.png') no-repeat center;
}

[class^="filter-"] .ui-accordion-content {
	border-width: 0;
	background: white;
}

article {
	position: relative;
	float: left;
}

article .product-gallery {
	float: left;
	text-align: center;
}

article #product-gallery {
	float: left;
	width: 70px;
	height: 412px;
	padding: 3px;
	border: 2px solid #ebebeb;
	background: #f7f8f8;
	box-sizing: border-box;
}

article #product-gallery .thumbs-up, 
article #product-gallery .thumbs-down {
	position: absolute;
	width: 60px;
	height: 17px;
	cursor: pointer;
}

article #product-gallery .thumbs-up {
	top: 3px;
	background: url('graphics/thumbs-up.png') no-repeat center;
}

article #product-gallery .thumbs-down {
	bottom: 3px;
	background: url('graphics/thumbs-down.png') no-repeat center;
}


article #product-gallery .gallery-window {
	height: 365px;
	margin: 20px auto;
	overflow-y: hidden;
}

article #product-gallery .thumb-image {
	float: left;
	clear: left;
}

article #product-gallery .thumb-image img {
	padding-top: 0;
	width: 60px;
	margin: 5px 0;
	border: 1px solid #ececec;
	box-shadow: none;
	box-sizing: border-box;
}

article #product-core-image {
	float: left;
	width: 300px;
	margin-left: 5px;
}

article #product-core-image .zoomWrapper {
	border: 1px solid #ebebeb;
}

#product-image {
	border: 1px solid #ebebeb;
}

.product-info {
	margin: 0;
}

.product-data {
	float: left;
	width: 340px;
	margin-left: 30px;
	color: #5c5d60;
	font-size: 14px;
}

.product-data h1 {
	float: left;
	width: 210px;
	margin-top: 10px;
	margin-bottom: 0;
	font-size: 26px;
}

.product-data .rating {
	margin-top: 20px;
}

.product-data .rating .star {
	float: left;
	width: 21px;
	height: 20px;
	background: url('graphics/rate_big_off.png') center no-repeat;
}

.product-data .rating .star.shine {
	background: url('graphics/rate_big_on.png') center no-repeat;
}

.product-data .cat {
	float: left;
	color: #712e78;
	font-size: 15px;
}

.product-data .sku {
	margin-top: -15px;
}

.product-data .price {
	margin-top: 20px;
	font-size: 30px;
	font-weight: 600;
	color: #ba256d;
}

.product-data #cart-form,
.product-data #cart-form-dialog {
	margin-top: 10px;
}

.product-data #cart-form .option {
	float: left;
	margin-bottom: 10px;
}

.product-data #cart-form .param-name {
	float: left;
	width: 75px;
	margin-right: 10px;
}

.product-data #cart-form .size-vars {
	float: left;
}

.product-data #cart-form .size-var {
	float: left;
	width: 50px;
	height: 30px;
	margin-right: 5px;
	margin-bottom: 5px;
	border: 1px solid #e9e9e9;
	text-align: center;
	box-sizing: border-box;
	font-family: "DINPro-Bold";
	color: #898989;
	cursor: pointer;
	background: url('graphics/grad_gray2.png') repeat-x scroll 0% 0% #bcc2c5;
	background: linear-gradient(#f7f7f7, #ececec);
}

.product-data #cart-form .form-fill-hint {
	display: none;
	clear: left;
	margin-left: 85px;
}

.product-data #cart-form .size-var:hover,
.product-data #cart-form .size-var-active {
	color: #74337a;
	background: url('graphics/grad_pink5.png') repeat-x scroll 0% 0% #c48cba;
	background: linear-gradient(#f8ebed, #edd7e9);
	border: 1px solid #e2cedc;
}

.product-data #cart-form input[type="submit"] {
	margin-top: 15px;
}

.info-icons {
	float: left;
	width: 390px;
	height: 21px;
	margin-top: 20px;
}

.info-icons > a {
	display: block;
	float: left;
	font-size: 14px;
	font-weight: bold;
	color: #525252;
}

.info-icons > a > div {
	float: left;
}

.info-icons .info-icon {
	height: 21px;
}

.info-icons .info-text {
	margin-left: 5px;
	margin-right: 25px;
	line-height: 21px;
}

#product-tabs {
	float: left;
	margin-top: 20px;
	border: none;
}

#product-tabs .ui-tabs-nav {
	padding: 0;
	border: none;
	border-bottom: 1px solid #ececec;
	text-align: center;
	background: transparent;
}

#product-tabs .ui-state-default {
	height: 45px;
	font-size: 12px;
	font-weight: bold;
	text-transform: uppercase;
	border: 2px #ececec solid;
	border-radius: 0;
	background: linear-gradient(#f0f0f0, #d7d7d7);
}

#product-tabs .ui-state-active {
	border-bottom: none;
	background: white;
}

#product-tabs .ui-tabs-nav li.ui-tabs-active {
	margin-bottom: -3px;
	padding-bottom: 3px;
	border-left: none;
}

#product-tabs .ui-tabs-panel {
	font-size: 12px;
	font-family: 'Arial';
}

#product-tabs .ui-tabs-panel p {
	margin-top: 0;
}

#tab-question div,
#tab-question input,
#tab-question textarea
{
	float: left;
	clear: left;
	margin-bottom: 5px;
}

#tab-question textarea {
	width: 280px;
}

#tab-question .loading {
	float: left;
}

.product-reviews {
	float: left;
	width: 100%;
	margin-top: 20px;
	padding: 0 20px;
	box-sizing: border-box;
}

.product-reviews h2 {
	float: left;
	height: 25px;
	margin-bottom: 0;
	line-height: 25px;
	color: #802990;
	text-transform: none;
}

.product-reviews a.button {
	height: 30px;
	margin-left: 15px;
	padding-top: 6px;
	padding-bottom: 0;
}

.product-reviews .rules {
	margin-left: 10px;
	font-size: 12px;
	font-style: normal;
}

.product-reviews .review {
	width: 100%;
	height: 135px;
	margin-top: 10px;
	background: #f7f8f8;
}

.product-reviews .review > div {
	float: left;
	height: 100%;
	box-sizing: border-box;
}

.product-reviews .review .author {
	width: 20%;
}

.product-reviews .review .author .avatar {
	float: left;
	width: 50px;
	height: 50px;
	margin-top: 15px;
	margin-left: 15px;
}

.product-reviews .review .author .name {
	float: left;
	margin-top: 30px;
	margin-left: 10px;
	font-family: 'Myriad-Pro', 'Tahoma';
	font-weight: bold;
	font-size: 15px;
}

.product-reviews .review .payload {
	width: 80%;
}

.product-reviews .review .payload .date {
	margin-top: 15px;
}

.product-reviews .review .payload .rate {
	margin-top: 10px;
}

.product-reviews .review .payload .rate .star {
	float: left;
	width: 13px;
	height: 13px;
	background: url('graphics/rate_off.png') no-repeat;
}

.product-reviews .review .payload .rate .star.shine {
	background: url('graphics/rate_on.png') no-repeat;
}

.product-reviews .review .payload .text {
	float: left;
	margin-top: 10px;
	text-align: justify;
	padding-right: 10px;
}

.product-reviews .no-reviews {
	float: left;
	margin-top: 20px;
}

.review-form {
	display: none;
	margin-top: 30px;
}

.review-form p {
	float: left;
	width: 100%;
}

.cart-summary-page .table {
	width: 750px;
}

.cart-summary-page .table tr td {
	vertical-align: top;
}

.cart-summary-page .table thead tr td.num {
	text-align: center;
}

.cart-summary-page .table tbody tr td.num {
	width: 5%;
	text-align: center;
}

.cart-summary-page .table tbody tr td.thumb {
	width: 14%;
}

.cart-summary-page .table tbody tr td.thumb img {
	border: 1px solid #EBEBEB;
}

.cart-summary-page .table tbody tr td.title {
	width: 20%;
}

.cart-summary-page .table tbody tr td.title .name {
	font-weight: 600;
	color: black;
}

.cart-summary-page .table tbody tr td.size {
	width: 11%;
}

.cart-summary-page .table tbody tr td.quantity {
	width: 11%;
}

.cart-summary-page .table tbody tr td.price {
	width: 12.5%;
	font-weight: 600;
}

.cart-summary-page .table tbody tr td.sum {
	width: 12.5%;
	font-weight: 600;
	color: #ba256d;
}

.cart-summary-page .table input {
	width: 20px;
}

.cart-summary-page {
	float: left;
	width: 755px;
}

.cart-summary-page .row {
	float: left;
	clear: left;
	width: 100%;
	margin-top: 10px;
}

.cart-summary-page .row.cart-item a {
	text-decoration: none;
	font-size: 16px;
	font-weight: bold;
	color: black;
}

.cart-summary-page .cart-sum {
	float: left;
	margin-top: 10px;
	font-size: 14px;
}

.cart-summary-page .cart-sum .value {
	font-size: 16px;
	font-weight: 600;
	color: #ba256d;
}

.cart-summary-page .cart-total {
	float: left;
	margin-top: 25px;
	font-size: 21px;
}

.cart-summary-page .cart-total .value {
	font-size: 34px;
	font-weight: 600;
	color: #ba256d;
}

.cart-summary-page .coupons {
	width: 500px;
	height: 55px;
	margin-top: 20px;
	background: url('graphics/grad_pink3.png') repeat-x #f3e1eb;
	background: linear-gradient(#f8ebed, #ead3e5);
}

.cart-summary-page .coupons .value {
	float: left;
}

.cart-summary-page .coupons .text {
	float: left;
	width: 105px;
	margin-top: 18px;
	margin-left: 15px;
	font-size: 14px;
	font-weight: 600;
	color: #712e78;
	text-transform: uppercase;
}

.cart-summary-page .coupons input[type="text"] {
	float: left;
	width: 230px;
	height: 30px;
	margin-top: 12px;
	box-sizing: border-box;
	box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.5);
}

.cart-summary-page .coupons input[type="submit"] {
	height: 30px;
	margin-top: 12px;
	margin-left: 10px;
	padding-top: 5px;
}

.cart-summary-page .buttons {
	float: left;
	margin-top: 50px;
}

.icon16 {
	width: 16px;
	height: 16px;
	background-image: url('graphics/icons.png');
	background-size: 210px 160px;
	background-repeat: no-repeat;
	display: inline-block;
}

.icon16.remove {
	background-position: -96px -16px;
}

.icon16.star-empty {
	background-position: -48px -16px;
}

.icon16.star-hover, 
.icon16.star {
	background-position: -64px -16px;
}

.icon16.loading {
	background-image: url('graphics/loading16.gif');
	background-position: 0 0;
	background-size: 16px 16px;
}

.loggedInAs {
	width: auto;
	margin-right: 20px;
	float: right;
	font-family: 'Myriad-Pro', 'Tahoma';
	font-size: 12px;
}

.loggedInAs .login {
	float: right;
	font-family: 'Arial';
	font-size: 15px;
}

.steps-line {
	float: left;
	width: 501px;
	height: 22px;
	margin-top: 30px;
	margin-bottom: 40px;
}

.checkout-content[data-step-id="shipping"] .steps-line {
	background: url('graphics/steps-line-shipping.png') no-repeat;
}

.checkout-content[data-step-id="payment"] .steps-line {
	background: url('graphics/steps-line-payment.png') no-repeat;
}

.checkout-result.success .steps-line {
	background: url('graphics/steps-line-success.png') no-repeat;
}

.checkout {
	float: left;
	width: 755px;
}

.checkout .button.back {
	float: left; 
	clear: left;
	width: 114px;
	height: 41px;
	margin-top: 20px;
	margin-right: 40px;
}

.checkout input[type="submit"] {
	float: left;
}

.addr-form {
	float: left;
	width: 735px;
	height: 310px;
	padding-right: 275px;
	border-bottom: 1px solid #ececec;
	box-sizing: border-box;
}

.addr-form div.label,
.addr-form input,
.addr-form textarea
{
	float: left;
	height: 30px;
	margin-top: 7px;
	box-sizing: border-box;
}

label.required:after,
.wa-required span:after {
	content: "*";
	color: #b869a7;
}

em.errormsg {
	display: block;
	margin-left: 0px;
	clear: left;
}

.addr-form div.label {
	width: 100px;
	padding-top: 5px;
}

.addr-form input,
.addr-form textarea
{
	width: 350px;
	padding: 0 10px;
	font-size: 13px;
	font-family: 'Arial';
	color: black;
}

.addr-form textarea {
	height: 90px;
}

ul.checkout-options {
	float: left;
}

div.checkout ul li {
	margin-bottom: 10px;
}

input[name="shipping_id"] {

}

.step-shipping label,
.step-payment label
{
	font-size: 13px;
	color: black;
}

.step-shipping label .price {
	color: #b869a7;
}

.step-shipping label .descr {
	font-size: 10px;
}

.step-payment {
	float: left;
}

.step-payment ul {
	width: 100%;
}

div.step-payment ul li {
	float: left;
	width: 20%;
	margin-right: 5%;
	margin-bottom: 35px;
}

.step-payment ul li .image {
	width: 80px;
	height: 55px;
}

.step-payment ul li .image img {
    margin-left: 25px;
}

.step-payment label .iradio_minimal-pink {
	float: left;
	margin-right: 5px;
}

step-payment label .name {
	width: 77px;
}

div.checkout blockquote {
	margin-left: 0;
}

div.checkout ul {
	list-style: none outside none;
	padding-left: 0;
}

.checkout-step {
	float: left;
	clear: left;
}

.checkout-step-content {
	float: left;
	clear: left;
}

.checkout form input[type="submit"] {
	margin-top: 20px;
	margin-bottom: 20px;
}

.checkout-step-content .loading {
	float: left;
	clear: left;
}

.checkout-content[data-step-id="confirmation"] .table {
	min-width: 400px;
}

.checkout-content[data-step-id="confirmation"] .table td,
.checkout-content[data-step-id="confirmation"] .table th {
	text-align: right;
}

.checkout-content[data-step-id="confirmation"] .table tr td:first-child,
.checkout-content[data-step-id="confirmation"] .table tr th:first-child{
	text-align: left;
}

.checkout-content[data-step-id="confirmation"] .table tr:last-child td {
	font-size: 120%;
	font-weight: bold;
}

.checkout-result .box {
	float: left;
	width: 740px;
	height: 160px;
	padding: 0px 25px;
	border: 2px solid #eadee0;
	box-sizing: border-box;
	font-size: 14px;
	color: black;
	background: linear-gradient(#f8ebed, #edd6e8);
}

.checkout-result .box .order-num {
	margin-top: 10px;
	font-weight: bold;
	font-size: 20px;
	color: #713278;
}

.checkout-result .box .thanks {
	margin-top: 20px;
}

.checkout-result .box .soon {
	margin-top: 20px;
}

.my-menu li a {
	color: black;
}

.my-menu li.selected {
	background: #f5ebf0;
}

table.orders {
	width: 755px;
}

table.orders thead {
	font-weight: bold;
	color: black;
}

table.orders tr td:first-child {
	padding-left: 3px;
}

table.order {
	width: 755px;
}

table.order tr:hover {
	background: #f5ebf0;
}

table.order tr td {
	height: 25px;
}

table.order tr td:first-child {
	padding-left: 3px;
}

table.order tr td:last-child {
	padding-right: 3px;
}

table.order td {
	text-align: center;
}

table.order tr td:last-child,
table.order tr th:last-child {
	text-align: right;
}

table.order tr td:first-child {
	text-align: left;
}

table.order .orderline a {
	text-decoration: none;
}

table.order tr.summary-start td {
	border-top: 2px solid black;
}

.product-quickview-link {
	display: none;
	position: absolute;
	width: 188px;
	margin-left: -8px;
	margin-top: -4px;
	z-index: 10;
}

.product-quickview {
	position: absolute;
	width: 100%;
	margin-left: 5px;
	border: 1px solid grey;
	box-shadow: 0 0 5px grey;
	color: black;
}

.product-quickview .ventlight {
	width: 100%;
	height: 375px;
}

.product-quickview .sizes {
	float: left;
	width: 100%;
	padding-bottom: 5px;
	background: white;
}

.product-quickview .sizes .size {
	float: left;
	width: 40px;
	height: 20px;
	margin-left: 10px;
    margin-bottom: 7px;
    padding-top: 2px;
	border: 1px solid black;
    text-align: center;
	box-sizing: border-box;
}

.product-quickview .image-left,
.product-quickview .image-right {
	position: absolute;
	width: 23px;
	height: 52px;
	top: 120px;
	z-index: 12;
}

.product-quickview .image-left {
	left: 7px;
	background: url('graphics/image_left.png') no-repeat;
}

.product-quickview .image-right {
	right: 7px;
	background: url('graphics/image_right.png') no-repeat;
}

.register-info {
	float: left;
	width: 755px;
}

.register-info img {
	float: left;
}

.register-info p {
	float: left;
	width: 500px;
	margin-left: 35px;
	text-align: justify;
}

.register-welcome {
	float: left;
	margin-top: 40px;
	margin-bottom: 15px;
	font-size: 14px;
	color: black;
}