
.posts {
    float: left;
    width: 755px;
}

.post-thumb {
	float: left;
	margin-bottom: 65px;
}

.post-thumb .post-img {
	float: left;
	width: 210px;
	margin-bottom: 65px;
	min-height: 20px;
}

.post-thumb .post-date {
	font-size: 12px;
	color: #AAB1B6;
}

.post-thumb h3 {
	font-size: 21px;
	color: #363636;
}

.post-thumb .post-short {
	float: left;
	width: 540px;
}

.post-thumb img {
	float: left;
	max-width: 200px;
	max-height: 120px;
	margin-right: 10px;
	margin-bottom: 30px;
}

.post-thumb p.post-text {
	padding-right: 30px;
	margin-bottom: 5px;
	text-align: justify;
}

.post-thumb p {
	margin: 0;
}
.post {
	float: left;
	width: 755px;
}

.post .post-text {
	padding-right: 40px;
	margin-bottom: 10px;
	text-align: justify;
	box-sizing: border-box;
}

.post img {
    float: left;
	max-width: 715px;
    margin-right: 10px;
}
