.black {
	color: black;
}

table.how {
	width: 700px;
}

table.how tr {
	height: 25px;
}

table.how tr td:first-child {
	width: 150px;
	font-size: 11px;
}

table.how tr td:last-child {
	width: 550px;
}

table.how tr.order_internet td:first-child {
	background: url('../graphics/order_internet.png') no-repeat center left;
}

table.how tr.order_internet td:last-child {
	font-size: 14px;
	font-weight: bold;
	color: #74337a;
}

table.how tr.order_internet td:last-child a {
	text-decoration: none;
}

table.how tr.order_email td:last-child {
	color: #74337a;
}

table.how tr.order_phone td:last-child {
	font-weight: bold;
}

table.how tr.order_email td:first-child {
	background: url('../graphics/order_email.png') no-repeat center left;
}

table.how tr.order_phone td:first-child {
	background: url('../graphics/order_phone.png') no-repeat center left;
}

.instruction {
	margin-top: 50px;
	padding-right: 30px;
	text-align: justify;
	font-size: 15px;
}

ol {
	list-style: none outside none;
}

ol li {
	margin-bottom: 10px;
}

ol li .num {
	display: inline-block;
	width: 30px;
	height: 30px;
	border: 1px solid #e8d8df;
	font-family: Arial;
	font-size: 15px;
	font-weight: bold;
	color: #9e7999;
	line-height: 30px;
	text-align: center;
	background: linear-gradient(#f8ebed, #edd7e9);
}

ol li .text {
	display: inline-block;
}