div {
	position: relative;
}

body {
	margin: 0;
	color: #5c5d60;
	font-family: 'Arial';
	font-size: 13px;
	background: url('graphics/Fon-3.png') repeat-x top center;
}

.spacer {
	clear: both;
	margin: 0;
	padding: 0;
	background: white;
}

.line {
	width: 393px;
	height: 1px;
	margin-top: 10px;
	float: left;
	background: #b8babb;
}

.fullwidth, .spacer, #header, #main, #footer {
	width: 995px;
}

.clearfix {
	width: 0;
	height: 0;
	clear: both;
}

.blur {
	opacity: 0.5; !important
}

h1 {
	margin-top: 0;
	font-family: 'Arial';
	font-size: 22px;
	font-weight: bold;
	color: #712e78;
}

h2 {
	margin-top: 0;
	font-family: 'Arial';
	font-size: 17px;
	font-weight: bold;
	color: black;
	text-transform: uppercase;
}

h2 a {
	font-weight: bold;
	color: #712e78;
	font-size: 17px;
	text-decoration: none;
}

h2 a.hint {
	padding: 0 10px 0;
	font-size: 11px;
	background: #c0c0c0;
	border-radius: 5px;
	color: black;
	text-decoration: none;
}

h3 {
	margin-top: 5px;
}

h3 a {
	color: black;
	font-size: 16px;
}

h4 {
	float: left;
	width: 740px;
	min-height: 30px;
	margin-top: 30px;
	margin-bottom: 10px;
	padding: 0 15px;
	line-height: 30px;
	font-size: 14px;
	background: #f7f8f8;
	text-transform: uppercase;
	box-sizing: border-box;
}

h6 {
	margin: 5px 0;
	font-size: 14px;
	font-weight: bold;
}

a {
	color: #b76da2;
}

.breadcrumbs {
	float: left;
	width: 755px;
	height: 15px;
	margin-bottom: 5px;
	font-size: 11px;
	color: #7d7d7d;
}

.breadcrumbs .crumb {
	float: left;
	margin-right: 5px;
}

.breadcrumbs .crumb a {
	color: #7d7d7d;
}

.breadcrumbs .crumb:after {
	content: " >>";
}

.breadcrumbs .crumb:last-child:after {
	content: "";
}

a.button,
input.button,
input[type="button"],
input[type="submit"]
{
	border: none;
	border-radius: 3px;
	background: url('graphics/grad_violet.png') repeat-x scroll 0% 0% #6e3075;
	background: linear-gradient(#75347c, #541f5a);
	color: white;
	font-family: 'DINPro-Bold';
	font-size: 13px;
	font-weight: 400;
	text-decoration: none;
	cursor: pointer;
	text-transform: uppercase;
}

a.button,
input[type="button"],
input[type="submit"]
{
	display: inline-block;
	padding: 10px 25px;
	box-sizing: border-box;
}

a.button-light,
input[type="button"].button-light,
input[type="submit"].button-light
{
	background: url('graphics/grad_pink1.png') repeat-x #dfbed7;
	background: linear-gradient(#ead1d6, #cea9d2);
}

a.button:hover,
input[type="button"]:hover,
input[type="submit"]:hover {
	background: url('graphics/grad_pink1_hover.png') repeat-x #ead0d6;
	background: linear-gradient(#893d91, #66256e);
}

a.button-light:hover,
input[type="button"].button-light:hover,
input[type="submit"].button-light:hover
{
	background: linear-gradient(#fce1e7, #e0b6e3);
}

input[type="text"] {
	float: left;
	box-sizing: border-box;
}

.greylink {
	color: #aab1b6;
    font-family: "Arial";
    font-size: 11px;
    font-style: italic;
}

.page-static p {
	width: 740px;
	text-align: justify;
}

.ui-spinner {
	margin-top: -4px;
}

@font-face {
    font-family: 'DINPro-Bold';
    src: url('graphics/DINPro-Bold.eot');
}

@font-face {
    font-family: 'DINPro-Regular';
    src: url('graphics/DINPro-Regular.eot');
}

/* Отстой какой-то */
/*
@font-face {
    font-family: 'Myriad-Pro';
    src: url('graphics/Myriad-Pro.eot');
	
}
*/

@font-face {
    font-family: 'DINPro-Bold';
    src: url('graphics/DINPro-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'DINPro-Regular';
    src: url('graphics/DINPro-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Myriad-Pro';
    src: url('graphics/Myriad-Pro.ttf') format('truetype');
}

#header, #main, #footer {
	position: relative;
	margin: 0px auto;
	clear: left;
}

.iradaline {
	height: 9px;
	background: white;
}

.iradaline img {
	display: block;
	margin: 0 1px 0;
}

#upperArea {
	height: 105px;
	padding: 1px 0 1px;
	background: white;
}

#header, #header a {
	color: #aab1b6;
}

#header h2 {
	margin: 0;
	font-size: 12px;
	color: #9f60aa;
	text-transform: uppercase;
}

#header .logo {
	float: left;
	width: 185px;
	margin-left: 1px;
	height: 100%;
}

#header .logo img {
	margin-top: 20px;
	margin-left: 30px;
}

#header .center {
	float: left;
	width: 597px;
	height: 100%;
}

#header .center .upper {
	height: 40px;
	background: #f7f8f8;
}

#header .center .upper .addToFav {
	float: left;
	margin-left: 56px;
	margin-top: 15px;
	font-family: 'Arial';
	font-style: italic;
	font-size: 11px;
	text-decoration: inderline;
}

#header form.search {
	position: relative;
	float: right;
	height: 20px;
	margin-top: 10px;
	margin-right: 31px;
}

#header form.search #search {
	float: left;
	width: 270px;
	height: 19px;
	position: relative;
	margin: 0;
	padding: 2px 10px;
	font-size: 11px;
	box-sizing: border-box;
	box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.5);
}

#header form.search button {
	position: absolute;
	width: 21px;
	height: 20px;
	background: url('graphics/search_button.png') no-repeat;
	border: none;
	cursor: pointer;
}

#header .center .leader {
	float: left;
	width: 46%;
	height: 65px;
	font-family: 'Arial';
	font-size: 12px;
}

#header .center .contacts {
	float: left;
	width: 54%;
	height: 65px;
}

#header .center .leader table, #header .center .contacts table {
	height: 100%;
}

#header .center .contacts table td {
	vertical-align: top;
	box-sizing: border-box;
}

#header .center .contacts .time {
	font-family: 'DINPro-Bold';
	font-size: 20px;
	text-align: right;
}

#header .center .contacts .time .tz {
	display: block;
	font-size: 10px;
	font-weight: 100;
	font-family: "Arial";
}

.phone {
	font-family: 'DINPro-Regular';
	font-size: 23px;
	color: #111111;
}

.callback {
	font-family: 'Arial';
	font-size: 11px;
	font-style: italic;
	color: #bac0c4;
}

#header .center .contacts .phone .callback {
	float: right;
	margin-right: 13px;
}

#header .myAccount {
	float: left;
	width: 189px;
	height: 100%;
	margin-left: 22px;
	padding: 0.5%;
	background: #f7f8f8;
	box-sizing: border-box;
}

#header .myAccount h2 {
	margin: 2px 5px;
}

#header .myAccount .login, #header .myAccount .register {
	height: 31px;
	line-height: 31px;
	text-align: center;
	color: white;
	font-size: 12px;
	text-decoration: none;
}

#header .myAccount .login {
	float: left;
	width: 39%;
	background: url('graphics/grad_pink1.png') repeat-x #dfbed7;
	background: linear-gradient(#ebd1d6, #d4add7);
}

#header .myAccount .login:hover {
	background: url('graphics/grad_pink1_hover.png') repeat-x #ead0d6;
	background: linear-gradient(#ffe3e8, #e7bceb);
}

#header .myAccount .register {
	float: left;
	width: 60%;
	background: url('graphics/grad_gray.png') repeat-x #bcc2c5;
	background: linear-gradient(#d4d8d9, #a7aeb3);
}

#header .myAccount .register:hover {
	background: url('graphics/grad_gray_hover.png') repeat-x #b4bac0;
	background: linear-gradient(#e8eced, #b9c1c7);
}

#header .myAccount .cart {
	float: left;
	width: 100%;
	height: 65px;
}

#header .myAccount .cart .cart_img {
	float: left;
	width: 48px;
}

#header .myAccount .cart_img img {
	margin-left: 10px;
	margin-top: 3px;
}

#header .myAccount .cart_info {
	float: left;
	width: 120px;
	margin-top: 4px;
}

#header .myAccount .cart_title {
	float: left;
	margin-top: 5px;
	font-family: 'DINPro-Bold';
	font-size: 13px;
	color: #656668;
}

#header .myAccount .cart_count {
	float: left;
	font-family: 'Myriad-Pro', 'Tahoma';
	font-size: 12px;
	color: #636466;
}

#header .myAccount .cart_checkout {
	float: left;
	margin-top: 6px;
	font-style: 'Arial';
	font-size: 11px;
}

#header .myAccount .cart_checkout a {
	color: #712e78;
	text-decoration: underline;
}

#upperMenu {
	height: 37px;
	background: url('graphics/grad_violet.png') repeat-x #6e3075;
	background: linear-gradient(#87407e, #66285d);
}

#upperMenu .menuItem {
	float: left;
	height: 37px;
	padding: 0 10px;
	font-family: 'DINPro-Bold';
	font-size: 14px;
	line-height: 37px;
	text-transform: uppercase;
	cursor: pointer;
}

#upperMenu a .menuItem {
	color: #eaccd8;
	text-decoration: none;
}

#upperMenu a:first-child .menuItem {
	margin-left: 15px;
}

#upperMenu .menuItem:hover {
	background: url('graphics/grad_pink2.png') repeat-x #d6b1d7;
	background: linear-gradient(#ebd2d6, #d4add7);
	
}

#upperMenu a .menuItem:hover {
	color: white;
}

#upperMenu .clientCard a {
	color: white;
	text-decoration: none;
}

#main {
	padding-top: 20px;
	background: white;
	border: none; /* FIXME: тени */
	display: table;
	box-sizing: border-box;
}

#sidebar {
	float: left;
	width: 205px;
	min-height: 600px;
	margin-right: 20px;
	margin-top: -20px;
	padding-top: 20px;
	box-sizing: border-box;
	background: linear-gradient(to left, #f9fafa, #ffffff);
}

#sidebar .sidegroup {
	float: left;
	width: 170px;
	margin-left: 25px;
	margin-bottom: 45px;
	padding-bottom: 15px;
}

#sidebar .sidegroup h3 {
	float: left;
	width: 150px;
	font-size: 13px;
	font-weight: bold;
	text-transform: uppercase;
	margin-top: 0;
	margin-bottom: 5px;
	padding-bottom: 5px;
}

#sidebar .sidegroup h3 a {
	font-size: 13px;
	color: #9f60aa;
	text-decoration: none;
}

#sidebar .sidegroup ul {
	float: left;
	width: 100%;
	margin: 0;
	padding: 0;
	padding-top: 10px;
	border-top: 1px solid #b79eb6;
	list-style: none inside none;
}

#sidebar .sidegroup ul li {
	float: left;
	clear: left;
	width: 100%;
	min-height: unset;
	margin-top: 10px;
	margin-bottom: 0;
	padding: 0;
	font-size: 13px;
	font-weight: bold;
	line-height: 1.2em;
	text-transform: none;
	background: none;
}

#sidebar .sidegroup ul li.current a {
	color: #64296a;
}

#sidebar .sidegroup ul li.current:before {
	float: left;
	width: 6px;
	height: 12px;
	margin-left: -12px;
	content: ">";
	color: transparent;
	background: url('graphics/sidebar_cur.png') no-repeat top center;
}

#sidebar .sidegroup ul li a {
	float: left;
	color: black;
	text-decoration: none;
}

#sidebar.main {
	min-height: 500px;
	background: white;
}

#sidebar.main .sidegroup {
	margin-bottom: 0;
}

#sidebar.main .sidegroup ul {
	padding-top: 0;
	border: none;
}

#sidebar.main .sidegroup h3 {
	margin-bottom: 0;
	padding: 0;
	border: none;
}

#sidebar.main .sidegroup h3 a {
	color: black;
}

#sidebar.main .sidegroup ul li {
	float: left;
	margin-top: 3px;
	font-weight: normal;
}

#footer {
	display: table;
	background: url('graphics/grad_pink3.png') repeat-x #f2e6f1;
	background: linear-gradient(#f7edf0, #f0e3f1);
	background-position: 0 9px;
	color: #634963;
}

#footer .linksarea {
	float: left;
}

#footer .linksarea .linkscol {
	float: left;
	margin-top: 10px;
}

#footer /*.linksarea .linkscol*/ h3 {
	margin-left: 20px;
	margin-bottom: 6px;
	text-transform: uppercase;
	color: #9f60aa;
	font-size: 13px;
	font-weight: bold;
}

#footer ul.links {
	list-style: none outside none;
	float: left;
	width: 143px;
	margin-left: 15px;
	margin-top: 0;
	margin-bottom: 6px;
	padding-left: 5px;
	padding-top: 10px;
	border-top: 1px solid #b79eb6;
}

#footer ul.links > li {
	font-size: 12px;
}

#footer ul.links > li > a {
	margin: 0;
	padding: 0;
	font-family: 'Myriad-Pro', 'Tahoma';
	color: #634963;
	text-decoration: none;
}

#footer .paydelivery {
	float: left;
	width: 965px;
	height: 50px;
	margin: 5px 15px 0;
	border-top:  1px solid #b79eb6;
	border-bottom:  1px solid #b79eb6;
}

#footer .paydelivery h3 {
	float: left;
	margin-left: 0;
	margin-top: 9px;
}

#footer .paydelivery .method {
	float: left;
	font-family: 'Myriad-Pro', 'Tahoma';
	font-size: 12px;
}

#footer .payment {
	float: left;
}

#footer .payment .pays {
	float: left;
	margin-top: 6px;
	margin-left: 20px;
}

#footer .payment .method {
	margin-left: 17px;
}

#footer .delivery {
	float: right;
	height: 50px;
}

#footer .delivery .dels {
	float: left;
	margin-top: 7px;
	margin-left: 10px;
	margin-right: 15px;
}

#footer .delivery h3 {
	margin-right: 15px;
}

#footer .delivery .method {
	margin-right: 20px;
}


#footer .delivery .method:last-child {
	margin-right: 15px;
}

#footer .bottom {
	display: table;
	height: 135px;
	font-family: 'Myriad-Pro', 'Tahoma';
	font-size: 12px;
}

#footer .copyright {
	float: left;
	margin-left: 20px;
	margin-top: 15px;
}

#footer .counter {
	margin-top: 33px;
	margin-left: 15px;
}

#footer .social {
	float: left;
	width: 100%;
	margin-top: 10px;
}

#footer .social h3 {
	float: left;
}

#footer .social_icon {
	float: left;
	margin-left: 15px;
	width: 90px;
}

#footer .signup {
	float: left;
	margin-left: 250px;
	margin-top: 25px;
}

#footer .signup form {
	float: left;
	margin-top: 3px;
}

#footer .signup input {
	float: left;
}

#footer .signup input[type="text"] {
	width: 190px;
	height: 20px;
	margin: 0;
	padding: 0;
	border: none;
	font-family: 'Myriad-Pro', 'Tahoma';
	font-size: 16px;
}

#footer .signup input[type="button"] {
	width: 25px;
	height: 20px;
	margin-left: 5px;
	border: none;
	font-family: 'DINPro-Regular';
	font-size: 11px;
	color: white;
	background: url('graphics/grad_violet2.png') repeat-x #612767;
	background: linear-gradient(#75347c, #541f5a);
	cursor: pointer;
}

/*
TODO:
	- заменить счётчик на реальный
*/

.ad_banner {
	position: relative;
	clear: left;
	width: 190px;
	height: 120px;
	margin-top: 30px;
	margin-left: 7px;
	background: url('graphics/banner.png') center no-repeat;
}

.wa-form {
	float: left;
}

.wa-field {
	float: left;
	clear: left;
	margin-top: 10px;
}

.wa-field .wa-name {
	float: left;
	width: 155px;
}

.wa-field .wa-value {
	float: left;
}

.wa-field .wa-value > p {
	margin: 0; 
}

.wa-field-address > .wa-name {
	font-weight: 600;
	text-decoration: underline;
}

.wa-field-address > .wa-value {
	float: none;
	width: 755px;
	margin-top: 30px;
}

.wa-field-address .wa-value .field {
	float: left;
	clear: left;
	margin-bottom: 10px;
}

.wa-field-address .wa-value .field > span,
.wa-field-address .wa-value .field > input {
	float: left;
}

.wa-field-address .wa-value .field > span {
	width: 200px;
}

form#userprofile .wa-field-firstname .wa-name:after,
form#userprofile .wa-field-lastname .wa-name:after,
form#userprofile .wa-field-email .wa-name:after,
form#userprofile .wa-field-phone .wa-name:after
{
	content: "*";
	color: #b869a7;
}

form#userprofile input[type="text"] {
	width: 350px;
	height: 30px;
	padding: 0 10px;
	box-sizing: border-box;
}

form#userprofile input[name="bd"] {
	width: 90px;
	height: 25px;
}

form#userprofile .calendarIcon {
	float: left;
	width: 25px;
	height: 25px;
	margin-left: 5px;
	background: url('graphics/calendar.png') no-repeat;
	cursor: pointer;
}

.page-static {
	float: left;
	width: 770px;
	padding: 0;
	box-sizing: border-box;
}

.wa-captcha .wa-captcha-img,
.wa-captcha strong {
	float: left;
	margin-right: 11px;
}

.wa-captcha p {
	clear: left;
}

.readmore {
	color: #4d4d4f;
}

.table {
	border-collapse: collapse;
}

.table thead {
	height: 30px;
	text-align: left;
	background: #f7f8f8;
}

.table tr {
	border-bottom: 1px solid #dedede;
}

.table tr td {
	padding: 10px 0;
}

/* Общее для аккордеонов */
.ui-accordion .ui-accordion-header {
	height: 30px;
	margin-bottom: 10px;
	padding: 0;
	font-weight: 700;
	font-size: 14px;
	background: #f7f8f8;
	border: none;
}

.ui-accordion-header.ui-state-default,
.ui-accordion-header.ui-state-active,
.ui-accordion-header:hover
{
	color: #5c5d60 !important;
}

.ui-accordion-header:before {
	display: inline-block;
	float: left;
	width: 30px;
	height: 30px;
	margin-right: 10px;
	background: url('graphics/vo_closed.png');
	content: "";
}

.ui-accordion-header.ui-state-active:before {
	background: url('graphics/vo_open.png');
}

.ui-accordion .ui-accordion-content {
	float: left;
	font-family: 'Arial' !important;
	border: none;
	padding: 0;
}

table.info tr td {
	padding-left: 20px;
	border-top: 1px dashed #b7b7b7;
	border-bottom: 1px dashed #b7b7b7;
}

table.info tr:first-child td,
table.info tr:last-child td
{
	border: none;
}

table.info tr td:first-child {
	border-right: 1px dashed #b7b7b7;
}